
@import "components/reset";
@import "components/typography";
@import "components/clearfix";
 
@import "components/block";


body {
    padding: 10px;
    font: 14px "Lucida Grande",Helvetica,Arial,sans-serif;
    background-color: white; }



