include includes/header
div.container.grouping
    section.box-menu  
        include includes/menu
    section.box-content
        span  from #{title} and is the main content
        block content


include includes/footer
